src/html/pug/index.pug
extends _include/_layout.pug
block vars
  include _config.pug
  - var pageName = "top"
  - var page = pages[pageName]
  - var img_path = img_path

block contents
  #container.container
    include _include/project/_header.pug

    #entrance.entrance
      .intro.scene
        .splash
          img(src=img_common+"splash_logo.png", alt="")
        .movie
          p movie
      .register.scene
        h2 Register
      .login.scene
        h2 Login
    #contents.contents
      #home.home.base-page.scene
        //- .page-head
        //-   //- img(src=img_common+"prev_arw.png", alt="←")
        //-   h2 HOME
        
        ul.filter-ui
          li
            p Together News
          li
            p Sharing Ride Experience
          li
            p Weekly Reports
          li
            p Genchi-Genbutsu VOICE

        ul.thum-list#homeThumbList
          li
            p.date Jan.25
            .contents-card
              p.title TitleTitleTitleTitle
              img.card-img(src=img_path+"home/dmy_img.jpg")
              .card-bottom
                p.wow 32 Wow!
                p.filter-name Sharing Ride Experience
            li
              p.date Jan.25
              .contents-card
                p.title TitleTitleTitleTitle
                img.card-img(src=img_path+"home/dmy_img.jpg")
                .card-bottom
                  p.wow 32 Wow!
                  p.filter-name Together News

      #article.article.base-page.scene
        .page-head
          img.prev-arw(src=img_common+"prev_arw.png", alt="←")
          h2 Joining Ride Report
        .article-cont
          p.date Jan.25
          h3.title TitleTitleTitleTitle
          img.article-img(src=img_path+"home/dmy_img.jpg")
          h4.head-txt Don’t be a parts maker, be an automaker.
          p.txt texttexttexttext

      #mypage.mypage.base-page.scene
        .page-head
          img.prev-arw(src=img_common+"prev_arw.png", alt="←")
          h2 My Page
      #5c.5c.base-page.scene
        .page-head
          img.prev-arw(src=img_common+"prev_arw.png", alt="←")
          h2 Outline of 5C
      #voice.voice.base-page.scene
        .page-head
          img.prev-arw(src=img_common+"prev_arw.png", alt="←")
          h2 "Genchi-Genbutsu"
      #mainNavi.main-navi
        ul
          li#mn-home
            img(src=img_common+"dmy_icon.png", alt="")
            p HOME
          li#mn-mypage
            img(src=img_common+"dmy_icon.png", alt="")
            p MY PAGE
          li#mn-5c
            img(src=img_common+"dmy_icon.png", alt="")
            p 5C
          li#mn-voice
            img(src=img_common+"dmy_icon.png", alt="")
            p VOICE
    #modal.modal
      .modal-bg
      .moda-win

htdocs/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="" property="og:site_name">
    <meta content="" property="og:title">
    <meta content="" property="og:description">
    <meta content="http://wolk.jp/assets/images/common/" property="og:image">
    <meta content="http://wolk.jp/" property="og:url">
    <meta content="website" property="og:type">
    <meta content="ja_JP" property="og:locale">
    <meta content="http://wolk.jpassets/images/common/" name="twitter:image">
    <meta content="" name="twitter:description">
    <meta content="" name="twitter:title">
    <meta content="summary_large_image" name="twitter:card">
    <link rel="stylesheet" href="./assets/css/index.css">
  </head>
  <body>
    <div class="container" id="container">
      <header></header>
      <div class="entrance" id="entrance">
        <div class="intro scene">
          <div class="splash"><img src="assets/images/common/splash_logo.png" alt=""></div>
          <div class="movie">
            <p>movie</p>
          </div>
        </div>
        <div class="register scene">
          <h2>Register</h2>
        </div>
        <div class="login scene">
          <h2>Login</h2>
        </div>
      </div>
      <div class="contents" id="contents">
        <div class="home base-page scene" id="home">
          <ul class="filter-ui">
            <li>
              <p>Together News</p>
            </li>
            <li>
              <p>Sharing Ride Experience</p>
            </li>
            <li>
              <p>Weekly Reports</p>
            </li>
            <li>
              <p>Genchi-Genbutsu VOICE</p>
            </li>
          </ul>
          <ul class="thum-list" id="homeThumbList">
            <li>
              <p class="date">Jan.25</p>
              <div class="contents-card">
                <p class="title">TitleTitleTitleTitle</p><img class="card-img" src="assets/images/home/dmy_img.jpg">
                <div class="card-bottom">
                  <p class="wow">32 Wow!</p>
                  <p class="filter-name">Sharing Ride Experience</p>
                </div>
              </div>
              <li>
                <p class="date">Jan.25</p>
                <div class="contents-card">
                  <p class="title">TitleTitleTitleTitle</p><img class="card-img" src="assets/images/home/dmy_img.jpg">
                  <div class="card-bottom">
                    <p class="wow">32 Wow!</p>
                    <p class="filter-name">Together News</p>
                  </div>
                </div>
              </li>
            </li>
          </ul>
        </div>
        <div class="article base-page scene" id="article">
          <div class="page-head"><img class="prev-arw" src="assets/images/common/prev_arw.png" alt="←">
            <h2>Joining Ride Report</h2>
          </div>
          <div class="article-cont">
            <p class="date">Jan.25</p>
            <h3 class="title">TitleTitleTitleTitle</h3><img class="article-img" src="assets/images/home/dmy_img.jpg">
            <h4 class="head-txt">Don’t be a parts maker, be an automaker.</h4>
            <p class="txt">texttexttexttext</p>
          </div>
        </div>
        <div class="mypage base-page scene" id="mypage">
          <div class="page-head"><img class="prev-arw" src="assets/images/common/prev_arw.png" alt="←">
            <h2>My Page</h2>
          </div>
        </div>
        <div class="5c base-page scene" id="5c">
          <div class="page-head"><img class="prev-arw" src="assets/images/common/prev_arw.png" alt="←">
            <h2>Outline of 5C</h2>
          </div>
        </div>
        <div class="voice base-page scene" id="voice">
          <div class="page-head"><img class="prev-arw" src="assets/images/common/prev_arw.png" alt="←">
            <h2>"Genchi-Genbutsu"</h2>
          </div>
        </div>
        <div class="main-navi" id="mainNavi">
          <ul>
            <li id="mn-home"><img src="assets/images/common/dmy_icon.png" alt="">
              <p>HOME</p>
            </li>
            <li id="mn-mypage"><img src="assets/images/common/dmy_icon.png" alt="">
              <p>MY PAGE</p>
            </li>
            <li id="mn-5c"><img src="assets/images/common/dmy_icon.png" alt="">
              <p>5C</p>
            </li>
            <li id="mn-voice"><img src="assets/images/common/dmy_icon.png" alt="">
              <p>VOICE</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal" id="modal">
        <div class="modal-bg"></div>
        <div class="moda-win"></div>
      </div>
    </div>
    <script type="text/javascript" src="./assets/js/lib/libs.js"></script>
    <script type="text/javascript" src="./assets/js/common.js"></script>
  </body>
</html>
